
.Rproj.user/.DS_Store
.Rproj.user/5DD6B515/.DS_Store
.Rproj.user/5DD6B515/pcs/.files-pane.pper.icloud
.Rproj.user/5DD6B515/pcs/.packages-pane.pper.icloud
.Rproj.user/5DD6B515/pcs/.source-pane.pper.icloud
.Rproj.user/5DD6B515/pcs/.windowlayoutstate.pper.icloud
.Rproj.user/5DD6B515/pcs/.workbench-pane.pper.icloud
.Rproj.user/5DD6B515/rmd-outputs
.Rproj.user/5DD6B515/saved_source_markers
.Rproj.user/5DD6B515/sources/per/t/2FA5F473
.Rproj.user/5DD6B515/sources/per/t/2FA5F473-contents
.Rproj.user/5DD6B515/sources/per/t/33D0A5E
.Rproj.user/5DD6B515/sources/per/t/33D0A5E-contents
.Rproj.user/5DD6B515/sources/per/u/84650264
.Rproj.user/5DD6B515/sources/per/u/84650264-contents
.Rproj.user/5DD6B515/sources/prop/27A09C25
.Rproj.user/5DD6B515/sources/prop/INDEX
.Rproj.user/5DD6B515/unsaved-notebooks/84650264/1/chunks.json
.Rproj.user/5DD6B515/viewer-cache/.8274FB4B.Rdata.icloud
.Rproj.user/D519CB59/.DS_Store
.Rproj.user/D519CB59/pcs/debug-breakpoints.pper
.Rproj.user/D519CB59/pcs/files-pane.pper
.Rproj.user/D519CB59/pcs/packages-pane.pper
.Rproj.user/D519CB59/pcs/source-pane.pper
.Rproj.user/D519CB59/pcs/windowlayoutstate.pper
.Rproj.user/D519CB59/pcs/workbench-pane.pper
.Rproj.user/D519CB59/persistent-state
.Rproj.user/D519CB59/rmd-outputs
.Rproj.user/D519CB59/saved_source_markers
.Rproj.user/D519CB59/sources/per/t/11EEF440
.Rproj.user/D519CB59/sources/per/t/11EEF440-contents
.Rproj.user/D519CB59/sources/per/t/35C62649
.Rproj.user/D519CB59/sources/per/t/35C62649-contents
.Rproj.user/D519CB59/sources/per/t/38BE4C40
.Rproj.user/D519CB59/sources/per/t/38BE4C40-contents
.Rproj.user/D519CB59/sources/per/t/5504AA67
.Rproj.user/D519CB59/sources/per/t/5504AA67-contents
.Rproj.user/D519CB59/sources/per/t/8143CECC
.Rproj.user/D519CB59/sources/per/t/8143CECC-contents
.Rproj.user/D519CB59/sources/per/t/87DA1FE5
.Rproj.user/D519CB59/sources/per/t/87DA1FE5-contents
.Rproj.user/D519CB59/sources/per/t/AF7F483F
.Rproj.user/D519CB59/sources/per/t/AF7F483F-contents
.Rproj.user/D519CB59/sources/per/t/B8B04056
.Rproj.user/D519CB59/sources/per/t/B8B04056-contents
.Rproj.user/D519CB59/sources/per/t/EDD569F8
.Rproj.user/D519CB59/sources/per/t/EDD569F8-contents
.Rproj.user/D519CB59/sources/prop/1E424D57
.Rproj.user/D519CB59/sources/prop/2110F386
.Rproj.user/D519CB59/sources/prop/26293F2F
.Rproj.user/D519CB59/sources/prop/743C2699
.Rproj.user/D519CB59/sources/prop/955767F1
.Rproj.user/D519CB59/sources/prop/97008F30
.Rproj.user/D519CB59/sources/prop/9DAC9AE7
.Rproj.user/D519CB59/sources/prop/B090E295
.Rproj.user/D519CB59/sources/prop/C88B88C3
.Rproj.user/D519CB59/sources/prop/F501B5C1
.Rproj.user/D519CB59/sources/prop/FC431524
.Rproj.user/D519CB59/sources/prop/INDEX
.Rproj.user/D519CB59/viewer-cache/776C6899.Rdata
.Rproj.user/shared/.DS_Store
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/D519CB59958A81F2/chunks.json
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/D519CB59E6ADE359/chunks.json
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c1dpjkjj2vzkg/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c1k8lnta13r6n/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c43s957d2u4ha/000002.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c43s957d2u4ha/000002.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c4a4sxivtjq5r/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c4a4sxivtjq5r/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c4a4sxivtjq5r/000003.png
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c4a4sxivtjq5r/000003.snapshot
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c5lrry81l9430/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c5lrry81l9430/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c5lrry81l9430/000003.png
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c5lrry81l9430/000003.snapshot
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c6bdizjru9rga/000007.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c6bdizjru9rga/000007.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c6jrmzsuoby2g/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c6jrmzsuoby2g/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c6jrmzsuoby2g/000003.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c91bu7pvb3qmo/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c9izmivhhrvzt/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c9izmivhhrvzt/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c9izmivhhrvzt/000003.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c9upujejs7cht/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c9upujejs7cht/000003.error
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c9upujejs7cht/000004.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/c9upujejs7cht/000004.png
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cc1cky7rekvak/000004.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cc1cky7rekvak/000005.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cc1cky7rekvak/000005.png
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cc1cky7rekvak/000005.snapshot
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/ceh7mq2tgqxfv/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/ceh7mq2tgqxfv/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/ceh7mq2tgqxfv/000003.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cfa9g0ixue7lu/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cfyjm2w4028q6/000009.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cfyjm2w4028q6/000009.png
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cfyjm2w4028q6/000009.snapshot
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cg7yq2efdhwpu/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cgd0c9t8s04hv/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cgd0c9t8s04hv/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cgd0c9t8s04hv/000003.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cgntwjoakbvbs/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cgntwjoakbvbs/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cgntwjoakbvbs/000003.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/chunks.json
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cjiofk1mz42b6/000003.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cjiofk1mz42b6/000004.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cjiofk1mz42b6/000004.png
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cjiofk1mz42b6/000004.snapshot
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/ckbgvemfivkj4/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cmrpda9iuy09m/000004.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cmrpda9iuy09m/000004.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cnc94iiyzba9t/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cnc94iiyzba9t/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cnc94iiyzba9t/000003.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cnwshczsj9l30/000002.csv
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cr95508xpxuoh/000002.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/cr95508xpxuoh/000002.rdf
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/ct7hf83bzqkov/000003.metadata
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/ct7hf83bzqkov/000003.png
.Rproj.user/shared/notebooks/532010E7-Ch. 11 - Fitting Basic Discrete-Time Hazard Models/1/s/ct7hf83bzqkov/000003.snapshot
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/D519CB593AFB5C14/chunks.json
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/D519CB597799FDE4/chunks.json
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/c7k5glohxfolb/000002.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cbzda8nz00gyh/000002.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cbzda8nz00gyh/000003.metadata
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cbzda8nz00gyh/000003.png
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cbzda8nz00gyh/000003.snapshot
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/ccb1mben8z58q/000002.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/ccb1mben8z58q/000003.metadata
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/ccb1mben8z58q/000003.png
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/ccb1mben8z58q/000003.snapshot
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/ce5qir6hx48at/000002.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cf3oueo13cg7y/000002.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cgbhjytsvztob/000008.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/chunks.json
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cn6ok9qxw6gmz/000002.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cqx2pysflmonq/000002.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cwh8ts3dq8yut/000002.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cwh8ts3dq8yut/000003.metadata
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cwh8ts3dq8yut/000003.rdf
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cwh8ts3dq8yut/000004.csv
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cwh8ts3dq8yut/000005.metadata
.Rproj.user/shared/notebooks/5BC96487-Ch. 12 - Extending the Discrete-Time Hazard Model/1/s/cwh8ts3dq8yut/000005.rdf
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/D519CB59BFDB1ACE/chunks.json
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/c0k666bzf9x9y/000002.metadata
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/c0k666bzf9x9y/000002.rdf
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/c3e91sqy5w170/000004.metadata
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/c3e91sqy5w170/000004.png
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/c3e91sqy5w170/000004.snapshot
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/cbskiu8jv1bgr/000008.csv
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/chsssee85g4iw/000002.metadata
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/chsssee85g4iw/000002.rdf
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/chunks.json
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/cmqz0xohli4dn/000002.csv
.Rproj.user/shared/notebooks/61308047-Ch. 10 - Describing Discrete-Time Event Occurrence Data/1/s/cmqz0xohli4dn/000003.error
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
